* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 1em;
  background-color: #4a4e4d;
}
#header {
  text-align: center;
}
#header h1 {
  font-size: 4em;
  display: inline-block;
  margin-left: 4em;
}
#socials {
  display: inline-block;
  float: right;
  margin: 1.5em;
}
#socials img {
  height: 3em;
  display: inline;
}
h1 {
  color: #fad9c1;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
}
h2 {
  color: #fad9c1;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2em;
}
p {
  font-family: 'Quattrocento', serif;
  color: #fad9c1;
  font-size: 1em;
}
a {
  text-decoration: none;
}
a:hover{
  opacity: .7;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}
#video {
  text-align: center;
}
#video iframe {
  width: 97%;
  height: 20em;
  margin: 0 auto;
}
.blocks {
  text-align: center;;
}
.block {
  width: 24%;
  height: 15em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.block h1 {
  margin: auto;
  margin-top: 1.2em;
  padding: .25em;
  border: .15em solid #fad9c1;
  width: 2.5em;
  vertical-align: middle;
  font-size: 2.5em;
}

.block h1:hover {
  background-color: #fad9c1;
  opacity: 1;
}
.music {
  /*background-color: #0e9aa7;*/
  background: linear-gradient(#0e9aa7, #4a4e4d);
}
.block.music h1:hover {
  color: #0e9aa7;
}
.tour {
  /*background-color: #3da4ab;*/
  background: linear-gradient(#3da4ab, #4a4e4d);
}
.block.tour h1:hover {
  color: #3da4ab;
}
.store {
  /*background-color: #f6cd61;*/
  background: linear-gradient(#f6cd61, #4a4e4d);
}
.block.store h1:hover {
  color: #f6cd61;
}
.about {
  /*background-color: #fe8a71;*/
  background: linear-gradient(#fe8a71, #4a4e4d);
}
.block.about h1:hover {
  color: #fe8a71;
}
.feature {
  width: 93%;
  display: block;
  height: auto;
  padding: 1em;
  margin: 0 auto;
}
.music img {
  height: 20em;
}
.player {
  display: none;
  padding: 1em;
  width: 80%;
  margin: 0 auto;
}
div.description {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  text-align: left;
}
iframe {
  display: inline-block;
  width: 30%;
  height: 20em;
  margin: 1em;
}
#artwork {
  text-align: center;
}
#footer {
  text-align: center;
}
#footer p {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}
@media screen and (max-width: 775px) {
  html {
    font-size: .65em;
  }
}
@media screen and (max-width: 630px) {
  html {
    font-size: .5em;
  }
}
/*@media screen and (max-width: 510px) {
  html {
    font-size: .35em;
  }
}
/*@media screen and (max-width: 365px) {
  html {
    font-size: .25em;
  }
}
/*Hackeroos*/
/* Hides detail marker on FF */
details > summary {
  list-style: none;
}
/* Hides detail marker on Chrome */
::-webkit-details-marker {
  display: none
}
/*
.feature {
  width: 93%;
  display: block;
  height: auto;
  padding: 1em;
  margin: 0 auto;
}
.players {
  text-align: center;
  border-bottom: 0;
  padding-top: 1em;
}
details.open {
  display: block;
  width: 95%;
  height: fit-content;
}
.open summary {
  width: 49%;
  display: inline-block;
}
#waiting_room_details.open summary {
  float: left;
}
#eib_details.open summary {
  float: right;
}
.open iframe {
  width: 43%;
  display: inline-block;
  height: 26em;
  margin: 0 3em;
}

details {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: .5em;
}
summary {
  outline: none;
  list-style: none;
}
summary img {
  height: 26em;
  display: inline-block;
}*/
