* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 1em;
  background-color: #4a4e4d;
}
#header {
  text-align: center;
}
#header h1 {
  font-size: 4em;
  display: inline-block;
  margin-left: 4em;
  border: 0;
}
#socials {
  display: inline-block;
  float: right;
  margin: 1.5em;
}
#socials img {
  height: 3em;
  display: inline;
}
h1 {
  color: #fad9c1;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
}
h2 {
  color: #fad9c1;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2em;
  width: fit-content;
  border-bottom: .1em solid #fad9c1;
  margin-bottom: .25em;
}
h3 {
  color: #fad9c1;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1em;
  width: fit-content;
  margin-bottom: .5em;
}
p {
  font-family: 'Quattrocento', serif;
  color: #fad9c1;
  font-size: 1em;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: .7;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
  color: #fad9c1;
}
p a:link {
  color: #fad9c1;
  opacity: .5;
}
p a:link:hover {
  opacity: .7;
}

/*Sections*/
.music {
  background-color: #0e9aa7;
}
.block.music h1:hover {
  color: #0e9aa7;
}
.tour {
  background-color: #3da4ab;
}
.block.tour h1:hover {
  color: #3da4ab;
}
.store {
  background-color: #f6cd61;
}
.block.store h1:hover {
  color: #f6cd61;
}
.about {
  background-color: #fe8a71;
}
.block.about h1:hover {
  color: #fe8a71;
}


/*Homepage*/
#video {
  text-align: center;
}
#video iframe {
  width: 97%;
  height: 20em;
  margin: 0 auto;
}
.blocks {
  text-align: center;
  margin-bottom: 1em;
}
.block {
  width: 24%;
  height: 15em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.block h1 {
  margin: auto;
  margin-top: 1.7em;
  padding: .25em;
  border: .15em solid #fad9c1;
  width: fit-content;
  font-size: 2.5em;
}
.block h1:hover {
  background-color: #fad9c1;
  opacity: 1;
}

#news article {
  width: 90%;
  margin: .5em auto;
  border-top: .25em solid #fad9c1;
  padding: 1em;
}

.button {
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  padding: .25em;
  color: #fad9c1;
  margin: 1em auto;
  border: .15em solid #fad9c1;
  width: fit-content;
  font-size: 1.2em;
}
.light {
  color: #4a4e4d;
  background-color: #fad9c1;
}
.button:hover {
  color: #4a4e4d;
  background-color: #fad9c1;
}
.light:hover {
  color: #fad9c1;
  background-color: #4a4e4d;
}
.feature {
  width: 94%;
  display: block;
  height: auto;
  margin: 1em auto;
  padding: 1em .5em;;
}
.feature h1 {
  margin-left: .5em;
}

.feature img {
  height: 24%;
  width: 24%;
  cursor: pointer;
  margin-bottom: 1em;
}
.feature img:hover {
  opacity: 0.7;
}

/*Music*/
.player {
  display: none;
  padding: .5em;
  width: 75%;
  margin: .5em auto;
  text-align: center;
  border-top: .25em solid #fad9c1;
}
div.description {
  display: inline-block;
  width: 55%;
  vertical-align: top;
  text-align: left;
}
.player iframe {
  display: inline-block;
  width: 40%;
  height: 28em;
  margin: 1em;
}
#artwork {
  text-align: center;
}
.musicbutton {
  color: #0e9aa7;
}
.musicbutton:hover {
  background-color: #0e9aa7;
}
.aboutbutton {
  color: #fe8a71;
}
.aboutbutton:hover {
  background-color: #fe8a71;
}

/*Footer*/
#footer {
  text-align: center;
}
#footer p {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}

/*Media Queries*/
@media screen and (max-width: 775px) {
  html {
    font-size: .65em;
  }
}
@media screen and (max-width: 630px) {
  html {
    font-size: .5em;
  }
/*@media screen and (max-width: 510px) {
  html {
    font-size: .35em;
  }
}
@media screen and (max-width: 365px) {
  html {
    font-size: .25em;
  }
}*/

/*Hackeroos*/
/* Hides detail marker on FF */
details > summary {
  list-style: none;
}
/* Hides detail marker on Chrome */
::-webkit-details-marker {
  display: none
}
