* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  width: 90%;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
img {
    width: 100%;
    height: auto;
}
div {
    align: center;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
h1 {
  display: inline-block;
}
#nav {
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}
#nav ul {
  list-style: none;
}
#nav ul li {
  display: inline-block;
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 2px auto;
  align: center;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: bold;
}
#nav ul li:hover {
  background-color: black;
}
#nav ul li:hover a {
  color: white;
}
#news {
  width: 50%
  margin: 5px;
  display: inline-block;
}
#news article {
  margin: 5px 0;
}
#news article h1 {
  border-bottom: 4px solid black;
  margin-bottom: 5px;
}
#promos {
  display: block;
  text-align: center;
}
.promo-box {
  width: 95%;
  display: block;
  margin: 0 auto;
}
.promo-box h2{
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  position: absolute;
  padding: 10px;
  width: 100%;
}
.promo-box:hover {
  opacity: 0.7;
  transition: opacity .25s;
}
