/* Element Overrides */
body {
    background-image: url('/img/backgrounds/BackCoverLayersWithWear.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: bc-alphapipe, sans-serif;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
    margin: 1.5vh 0;
    font-weight: 700;
}
h2, h3, h4 {
    line-height: 4vh;
}
h1 {
    border: 6px solid white;
    border-radius: 4px;
    padding: 1vh;
    margin-bottom: 2vh;
    width: fit-content;
    line-height: 5vh;
}
section {
    margin: 3vh 1vh;
}
section:first-of-type {
    margin-top: 10vh;
}
hr {
    background-color: white;
    height: 1vh;
}
p {
    font-family: abril-text,serif;
    font-weight: 400;
    font-style: normal;
}
button {
    border: 3px solid white;
    border-radius: 4px;
    font-size: 2.5vh;
    padding: 1vh;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    margin-bottom: .35vh;
}
button:hover {
    background-color: white;
    color: black;
}

/* Class overrides */
.button-group {
    text-align: center;
}
.btn {
    font-weight: 800;
    text-transform: uppercase;
    width: 34%;
    margin: .5vh auto;
}
ul.navbar-nav {
    font-weight: 800;
}
.fa{
    font-size: 3vh;
}
.nav-link {
    font-size: 2vh;
}

/* Dark+Light Classes */
.dark {
    color: black;
}
.light {
    color: white
}

/* Nav Tweaks */
.navbar h4 {
    margin: .75vh;
}

/* Player Overrides */
#player {
    font-family: abril-text,serif!important;
    font-size: 12px;
}

/* Footer */
#footer .row {
    margin: 2vh auto;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .btn {
        width: 49%;
    }
} 

@media only screen and (max-width: 334px) {
    h4 {
        font-size: 2.5vh;
    }
  }
  